In [9]:
import pandas as pd
from IPython.display import display
import os

In [25]:
provinces = ['Bologna', 'Ferrara', 'Forlì Cesena', 'Modena', 'Parma', 'Piacenza', 'Ravenna', 'Reggio Emilia', 'Rimini']
abbreviations = ['BO', 'FE', 'FC', 'MO', 'PR', 'PC', 'RA', 'RE', 'RN']

# create the dataframes
df_list1 = []
df_list2 = []

for i, province in enumerate(provinces):
    excel_file = f'/content/drive/MyDrive/Thesis/Python codes/Waste production per province - ER/{province}.xlsx'
    df = pd.read_excel(excel_file)

    # clean the data
    df.rename(columns={df.columns[1]: 'RIFIUTI [t] ATECO'}, inplace=True)
    df.rename(columns={df.columns[4]: 'RIFIUTI [t] EER'}, inplace=True)
    df['RIFIUTI [t] ATECO'] = [s.replace("-", "0") for s in df['RIFIUTI [t] ATECO'].astype(str)]
    df['RIFIUTI [t] EER'] = [s.replace("-", "0") for s in df['RIFIUTI [t] EER'].astype(str)]
    df['RIFIUTI [t] ATECO'] = round(df['RIFIUTI [t] ATECO'].astype(float), 2)
    df['RIFIUTI [t] EER'] = round(df['RIFIUTI [t] EER'].astype(float), 2)
    df1 = df.iloc[:, [1]]
    df2 = df.iloc[:, [4]]
    df1 = df1.T
    df2 = df2.T

    # create the column names
    column_names_file = '/content/drive/MyDrive/Thesis/Python codes/Waste production per province - ER/Bologna.xlsx'
    column_names = pd.read_excel(column_names_file)
    column_names = column_names.T
    column_names1 = column_names.iloc[0]
    column_names2 = column_names.iloc[3]

    for j, code in enumerate(column_names2):
        if isinstance(code, int):
            column_names2[j] = str(code).zfill(4)
        else:
            continue

    # assign the column names
    df1.columns = column_names1
    df2.columns = column_names2
    df1.insert(0, 'NOME_PRO', province)
    df1.insert(1, 'ABB_PRO', abbreviations[i])
    df2.insert(0, 'NOME_PRO', province)
    df2.insert(1, 'ABB_PRO', abbreviations[i])

    # add the dataframes to the list
    df_list1.append(df1)
    df_list2.append(df2)

# concatenate the dataframes
result1 = pd.concat(df_list1, axis=0, ignore_index=True)
result2 = pd.concat(df_list2, axis=0, ignore_index=True)
result2 = result2.iloc[:, :-2]

# add the total row to result1
result1.loc['Total'] = result1.sum(numeric_only=True, axis=0)

# add the total row to result2
result2.loc['Total'] = result2.sum(numeric_only=True, axis=0)

# change the name of the last column in the EER dataframe
result2.rename(columns={result2.columns[9]: '0200'}, inplace=True)

# save the dataframes to CSV
result1.to_csv('/content/drive/MyDrive/Thesis/Python codes/Waste production per province - ER/Food Waste per ATECO.csv', index=False)
result2.to_csv('/content/drive/MyDrive/Thesis/Python codes/Waste production per province - ER/Food Waste per EER.csv', index=False)

display(result1)
display(result2)

CODICE ATECO,NOME_PRO,ABB_PRO,10.1,10.2,10.3,10.4,10.5,10.6,10.7,10.8,10.9,10.0
0,Bologna,BO,856.40,0.00,7491.34,0.00,383.55,18.95,5261.31,6415.48,0.00,20427.02
1,Ferrara,FE,19.80,0.00,1475.08,0.00,0.00,13019.84,1442.21,0.00,2110.10,18067.03
2,Forlì Cesena,FC,8554.73,0.00,20796.66,69.39,5.93,536.55,198.59,4605.84,99.16,34866.86
3,Modena,MO,19486.92,0.00,0.00,86.10,2302.96,223.35,586.27,9505.57,404.79,32595.96
4,Parma,PR,46440.19,699.65,1602.04,10233.10,3271.97,118.81,29991.28,6512.48,2089.64,100959.16
5,Piacenza,PC,545.72,0.00,1086.08,0.00,11197.08,3774.05,0.00,181.93,15.37,16800.22
6,Ravenna,RA,12217.88,0.00,38188.98,1589.78,0.00,42.52,10279.05,5427.31,330.72,68076.25
7,Reggio Emilia,RE,665.86,464.29,0.00,53.51,1159.53,24.17,329.98,5017.77,1199.08,8914.19
8,Rimini,RN,104.17,5.08,483.90,0.00,0.00,0.00,341.32,643.51,0.00,1577.98
Total,NaN,NaN,88891.67,1169.02,71124.08,12031.88,18321.02,17758.24,48430.01,38309.89,6248.86,302284.67

CODICE EER,NOME_PRO,ABB_PRO,0201,0202,0203,0204,0205,0206,0207,0200
0,Bologna,BO,606.43,1150.76,12262.83,480.00,5359.58,316.40,251.02,20427.02
1,Ferrara,FE,22.04,839.41,17120.97,0.00,0.00,84.61,0.00,18067.03
2,Forlì Cesena,FC,107.01,29244.38,5416.30,0.00,34.21,64.95,0.00,34866.85
3,Modena,MO,664.94,19014.24,9506.58,0.00,2749.30,51.06,609.84,32595.96
4,Parma,PR,6.52,47762.25,44381.42,29.32,6656.50,2107.54,15.60,100959.16
5,Piacenza,PC,0.00,573.93,12181.58,0.00,4044.72,0.00,0.00,16800.22
6,Ravenna,RA,0.03,12236.98,55492.68,0.00,0.00,280.14,66.42,68076.25
7,Reggio Emilia,RE,79.60,1050.55,1184.54,28.50,6436.68,1.36,132.96,8914.19
8,Rimini,RN,0.00,109.25,1465.75,0.00,0.00,2.98,0.00,1577.98
Total,NaN,NaN,1486.57,111981.75,159012.65,537.82,25280.99,2909.04,1075.84,302284.66